# Data Science Ecosystem.ipynb

# Introduction
                        My name is Muhammad Abdullah and I am a student trying to learn data science. In this notebook we will cover all the exercises given to us in the final peer graded assignment for the course named "Tools for Data Science" on Coursera and provided by IBM. Throughout this notebook we will try to give the answerswith precision.

# Data Science Languages:
                                        In this markdown we'll list down the languages used in data science or by data scientists.
                                        
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

# Data Science Libraries:
                                        In this markdown we'll list down the Libraries used for data science.
                                        
1. Matplotlib
2. Pandas
3. Numpy
4. Scipy
5. Seaborn
6. Scikit-learn
7. Tensorflow
8. Keras
9. Pytorch
10. Vegas
11. Apache Spark
12. Big DL
13. ggplot2

| Name              | Category     | Type        |
|-------------------|--------------|-------------|
| MySQL             | Database     | Open source |
| PostgreSQL        | Database     | Open source |
| Oracle Database   | Database     | Commercial  |
| Microsoft SQL Server | Database  | Commercial  |
| MongoDB           | Database     | Open source |
| SQLite            | Database     | Open source |
| Elasticsearch    | Database     | Open source |
| Redis             | Database     | Open source |
| Apache Cassandra  | Database     | Open source |
| Neo4j             | Database     | Open source |
| Apache Kafka      | Messaging    | Open source |
| RabbitMQ          | Messaging    | Open source |
| Apache ActiveMQ   | Messaging    | Open source |
| IBM MQ            | Messaging    | Commercial  |
| Apache Hadoop     | Big Data     | Open source |
| Apache Spark      | Big Data     | Open source |
| Apache Flink      | Big Data     | Open source |
| Microsoft Azure HDInsight | Big Data | Commercial  |
| Google BigQuery   | Big Data     | Commercial  |
| Amazon Redshift   | Big Data     | Commercial  |

### Arithimetic Intro
Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

### Minutes to Hours

In [3]:
min = 200
hr = min/60
#This will convert 200 minutes to hours by diving by 60
hr

3.3333333333333335

**Objectives**

- List of DS Languages 
- List of DS Libraries
- Table of DS Tools
- Arithimetic Operation Code
- Minutes to Hours Code

# Author's Name: Muhammad Abdullah